.taptitle{
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shareText{
  background: #5ca3ff;
  border-radius: 5px 5px 5px 5px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
}
.shareTextcontent{
  background: #fff;
  border-radius: 10px 10px 10px 10px;
  margin: 20px 20px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px;
}
.shareTime{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 13px;
}